#chat{
  height: 500px;
  overflow-y: auto;
  white-space: nowrap;
}

body{
  background-color: white;
}


#contentWrap{
  display: none;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#nickWrap{
  margin-top: 25%;
}
