@import url('https://fonts.googleapis.com/css?family=Bungee');

#chat{
  height: 400px;
  overflow-y: auto;
  white-space: nowrap;
}

body{
  background-color: white;
}


#contentWrap{
  display: none;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#nickWrap{
  margin-top: 25%;
}

#wordContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', cursive;
}
